<header>
  <h1>Cellular Automata</h1>
  <div class="navigation">
    <button routerLink="/one-d" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      One dimensional CA
    </button>

    <button routerLink="/two-d" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Two dimensional CA
    </button>

    <button routerLink="/docs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Documentation
    </button>
  </div>
</header>
