header {
  --navbar-height: 10vh;

  background: radial-gradient(at bottom left, #0d1b4c, #8e44ad, #f8f9fa);
  height: var(--navbar-height);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

h1 {
  margin: 1rem;
  margin-top: 0;
  color: #fff;
  text-shadow: 2px 2px #3f3f3f;
}

.navigation {
  display: flex;
  gap: 2rem;
}

.navigation > button {
  padding: 10px 18px;
  font-size: large;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: radial-gradient(at bottom left, #09133a, #6d2e8c, #3f3f3f);
  color: #fff;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.navigation > button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

.navigation > button.active {
  background: radial-gradient(at bottom left, #152764, #9b59b6, #f1f1f1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
