<header class="app-header">
  <h1 class="app-title">Cellular Automata</h1>

  <div class="navigation">
    <button
      class="nav-btn"
      routerLink="/one-d"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      One dimensional CA
    </button>

    <button
      class="nav-btn"
      routerLink="/two-d"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Two dimensional CA
    </button>

    <button
      class="nav-btn"
      routerLink="/sorting-algforithms"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Sorting algorithms
    </button>

    <button
      class="nav-btn"
      routerLink="/docs"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Documentation
    </button>

    <!-- future buttons just go here -->
  </div>
</header>
